trigger:
  - main

pool:
  vmImage: 'ubuntu-latest'

steps:
# 1. (Optional) If you need to build code (like React/Angular/.NET), 
#    uncomment the lines below. If it's just plain JS/Python, skip this.
# - script: |
#     npm install
#     npm run build
#   displayName: 'Build Code'

# 2. Zip the files
- task: ArchiveFiles@2
  inputs:
    rootFolderOrFile: '$(System.DefaultWorkingDirectory)'
    includeRootFolder: false
    archiveType: 'zip'
    archiveFile: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip'
    replaceExistingArchive: true

# 3. Publish the Zip so the Release Wizard can see it
- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'drop'
    publishLocation: 'Container'